<!DOCTYPE html>
<html>
<head>
     <meta charset="='utf-8">
     <title>patient list</title>

</head>

<body>

<h1>patient</h1>
<table>
    <thead>
        <th>Id</th>
        <th>firstname</th>
        <th>lstname</th>
        <th>age</th>
    </thead>
    {%for patient in patient_list%}
 <tr>
    <td>{{patient.id}}</td>
    <td>{{patient.firstname}}</td>
    <td>{{patient.lastname}}</td>
    <td>{{patient.age}}</td>
    <td><a href="http://127.0.0.1:8000/add/{{patient.id}}">adddata</a></td>
    <td><a href="http://127.0.0.1:8000/update/{{patient.id}}">update</a></td>
    <td><a href="http://127.0.0.1:8000/delete/{{patient.id}}">delete</a></td>
    <td><a href="http://127.0.0.1:8000/analyse/{{patient.id}}">analyse</a></td>
    
  
</tr>
{%endfor%}
</table>
<br/>
<a href="http://127.0.0.1:8000/create">add patient</a>
</body>
</html>